body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4eac5;
}

.gallery{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.image img {
    width: 300px;
    height: 300px;
    object-fit: cover;

}

.message{
    text-align:  center;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px tgba(0,0,0,0.2);
}